h3{
	font-weight: bold;
	font-size: 2rem;
	text-align: left;
}
h2{
	font-size: 3rem;
	text-align: center;
	font-weight: bold;
}
section{
	margin-left: 25px;
}
section{
	font-size: 1.5rem;
	text-align: center;
	border-bottom: 1px solid grey; 
}
section p{
	margin: 10px;
	padding: 5px;


}
div{
	margin:10px;
	padding:5px;
}
*{
	text-indent: 2px;
}